/* CSS */
/* ใช้สำหรับแสดง (id class) */
@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
}

.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eafdfe;
    padding: 20px;
    box-sizing: border-box;

}

.header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.header-form {
    width: 100px;
}

.flex {
    display: flex;

}

.form-input {
    margin-bottom: 3px;
}

input.form,
textarea {
    border: 1px solid black;
    width: 100%;
}

.center {
    text-align: center;
}


.bunton {
    font-family: 'Kanit';
    font-size: 18px;
    border: 0px solid black;
    width: 50%;
    height: 40px;
    border: 2px solid  #63Bac4; /* เพิ่มเส้นขอบ */
    border-radius: 5px; /* มุมโค้ง */
    background-color: #63Bac4;
    color: white;

}
.bunton:hover {
    background-color: white;
    color:#63Bac4;
    border-color: #63Bac4;
}

.center_button{

    text-align: center;
    margin-top: 20px;
}



.btn,.btn1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #faf9f3;
    border: 2px solid #4195cc; /* เพิ่มเส้นขอบ */
    border-radius: 5px; /* มุมโค้ง */
    background-color:  #4195cc;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover, .btn1:hover {
    background-color:#faf9f3;
    color: #0056b3;
    border-color: #4195cc;
}




.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightseagreen;
    display: none;

}

.message.sussess {
    background-color: lightgreen;
    display: block;

}

.message.danger {
    background-color: lightcoral;
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .header {
        font-size: 24px;
    }

    .bunton {
        width: 100%;
    }

}