@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}
body {
    font-family: 'Kanit';
}
.header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
/* รีเซ็ตค่า margin และ padding */
/* .container */
.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 30px;
    margin: 50px auto;
    justify-content: center;
    /* align-items: center; ให้เนื้อหาทั้งหมดอยู่กลาง */
}

/* Navbar styling */
.navbar { 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: #4195cc; /* สีพื้นหลัง */
    padding: 10px 0;
    position: fixed; /* ทำให้ navbar ติดอยู่ด้านบน */
    bottom: 0;
    left: 50%; /* Center the navbar horizontally */
    transform: translateX(-50%); /* Centering trick */
    width: 768px; /* Match the width of the container */
    max-width: 100%;
    z-index: 1000; /* ทำให้ navbar อยู่ด้านหน้า */
}

/* Styling for the ul and li in navbar */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align navbar items to the right */
    margin: 0;
    padding: 0;
}

/* Styling for navbar links */
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

/* Hover effect */
.navbar ul li a:hover {
    background-color: #4195cc;
}

/* Active link */
.navbar ul li a.active {
    background-color: #295ca5;
}

.navbar ul li a.active:hover {
    background-color: #54627F;
}


/* กำหนดขนาดของ container */
.table-container {
    width: 90%;
    margin-bottom: 80px auto 50px; /* ดันตารางลงมาไม่ให้ติดขอบ */
    
    overflow-y: auto;
    max-height: 400px; /* กำหนดความสูงของตารางให้เลื่อนได้ */
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* ทำให้ Table Head ติดอยู่ด้านบน */
table {
    margin-bottom: 80px auto 50px;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    border: 2px solid #000000
    
}

thead {
    position: sticky;
    top: 0;
    background-color:#4195cc;

    color: white;
    z-index: 100;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}


tbody tr:nth-child(even) {
    
    background-color: #b5d7ea; /* สีเทาอ่อน */
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* สีขาว */
}